<div class="layui-form" id="table-list">
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="50">
            <col class="hidden-xs" width="80">
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th width="10%" class="hidden-xs">编号</th>
            <th width="10%">材料图片</th>
            <th width="20%">编号</th>
            <th width="20%">名称</th>
            <th width="10%">单位</th>
<!--            <th width="20%">创建时间</th>-->
<!--            <th width="10%">操作</th>-->
        </tr>
        </thead>
        <tbody>
        {volist name="data.list" id="vo"}
        <tr class="tr_goods" style="cursor:pointer;" onselectstart="return false">
            <td class="hidden-xs td_id">{$vo['id']}</td>
            <td>
                {if condition="$vo['image'] != 0"}
                <img id=goods_image style="height: 70px;width: 70px;" src="/static/upload/{$vo['image']|default=''}">
                {/if}
            </td>
            <td class="td_number">{$vo['number']}</td>
            <td class="td_name">{$vo['name']}</td>
            <td class="td_unit">{$vo['unit']['name']}</td>
<!--            <td>{$vo['create_time']}</td>-->
<!--            <td>-->
<!--                <div class="layui-inline">-->
<!--                    <button class="layui-btn layui-btn-sm layui-btn-normal edit-btn btn_tips" data-title="修改材料" data-id="{$vo['id']}" data-url="{:url('goods/edit')}" data-h="588px"><i class="layui-icon">&#xe642;</i></button>-->
<!--                    <button class="layui-btn layui-btn-sm layui-btn-danger del-btn btn_tips" data-title="删除" data-id="{$vo['id']}" data-url="{:url('goods/del')}"><i class="layui-icon">&#xe640;</i></button>-->
<!--                </div>-->
<!--            </td>-->
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-wrap">
        {$data.list->render()|raw}
    </div>
</div>
