{include file="public/header" /}
<div class="layui-layer-content clearfix">
    <div class="column-content-detail">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>入库设置</legend>
        </fieldset>
            <div class="layui-form">

                <form class="layui-form" lay-filter="data-form">
                    <div class="layui-form-item">
                        <div class="layui-inline layui-form-pane">
                            <label class="layui-form-label">入库仓库</label>
                            <div class="layui-input-inline">
                                <select name="store_id" lay-search="">
                                    <option value="">请选择入库仓库</option>
                                    {volist name="data.store" id="v"}
                                    <option value="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="buy_id" value="{$Request.get.id}"/>

                </form>
            </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>搜索条件</legend>
        </fieldset>
        <!--- 头部搜索框 --->
        <div class="layui-form">
            <form class="layui-form" lay-filter="search-form">
                <div class="layui-form-item">
                    <div class="layui-inline layui-form-pane">
                        <label class="layui-form-label">供应商合同</label>
                        <div class="layui-input-inline" style="width: 800px">
                            <div id="contract_supply_select"></div>
                        </div>
                    </div>

                    <input type="hidden" name="search_type" value="contract_supply">

                    <div class="layui-inline layui-form-pane">
                        <button class="layui-btn layui-bg-blue btn_search"><i class="layui-icon layui-icon-search"></i>搜索</button>
                        <button type="reset" class="layui-btn layui-btn-normal" id="empty"  lay-submit="" lay-filter="LAY-search">重置</button>
                    </div>
                </div>

<!--                <div class="layui-form-item">-->
<!--                    <div class="layui-inline layui-form-pane">-->
<!--                        <label class="layui-form-label">工程名称</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input type="text" name="search" placeholder="请输入工程名称..." autocomplete="off" class="layui-input search"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </form>
        </div>
        <!--- 头部搜索框 --->


        <div class="layui-form" id="table-list">
            <table id="table" lay-filter="table"></table>


        </div>
    </div>
</div>
{include file="public/script" /}


<script type="text/html" id="template_type">
    {{# if(d.need_type == '甲供'){ }}
    <span class="layui-badge layui-bg-black">{{d.need_type}}</span>
    {{# } }}
    {{# if(d.need_type == '自购'){ }}
    <span class="layui-badge layui-bg-blue">{{d.need_type}}</span>
    {{# } }}
</script>

<script type="text/html" id="template_stock">
    {{# if(d.stock_status == '入库中'){ }}
    <span class="layui-badge layui-bg-orange">{{d.stock_status}}</span>
    {{# } }}
    {{# if(d.stock_status == '已完成'){ }}
    <span class="layui-badge layui-bg-green">{{d.stock_status}}</span>
    {{# } }}

</script>



<script type="text/html" id="template_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-bg-green layui-btn-sm" lay-event="stock_sure"><i class="layui-icon layui-icon-ok"></i>确认入库</button>
    </div>
</script>


<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-bg-gray" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
    </div>
</script>

<script>
    var table_reload;
    var error;

    layui.use(['form', 'element', 'laydate', 'table', 'jquery'], function() {
        var form = layui.form,
            $ = layui.jquery,
            laydate = layui.laydate,
            // soulTable = layui.soulTable,
            table = layui.table;

        //日期范围
        laydate.render({
            elem: '#time'
            ,range: '至'
            ,type:'datetime'

        });

        // 监听表单提交事件
        form.on('submit(search-form)',function (data) {
            table_reload();
            return false;
        });

        // 监听下拉框选择
        form.on('select(select1)', function(data){
            table_reload();
            return false;
        });


        // 表格刷新方法 带form数据
        table_reload = function(){
            var where = form.val("search-form");
            //执行重载
            table.reload('table', {
                where: where
            });
            return false;
        };

        var url = "{:url('buy/ajax_get_buyinfo_list')}";
        //第一个实例
        table.render({
            elem: '#table'
            ,id:'table'
            ,url: url//数据接口
            ,page: false //开启分页
            ,toolbar:'#template_toolbar'
            ,limit:100000
            // ,height:'full-100'
            ,loading:true
            ,where:form.val("search-form")
            ,text:{
                none:'暂无相关数据'
            }
            ,filter: {
                clearFilter: true,
                items:{}
            }
            ,cols: [[ //表头
                {type:'numbers', title: '序号', align:'center', fixed:'left', sort:true,width:90}
                ,{field: 'supply_name', title: '供应商', align:'center', width:150}
                ,{field: 'project_name', title: '工程名称', align:'center',sort:true}
                ,{field: 'cate_name', title: '分类', align:'center',sort:true}
                ,{field: 'goods_name', title: '名称', align:'center',sort:true}
                ,{field: 'goods_number', title: '编号', align:'center',sort:true}
                ,{field: 'num', title: '采购数量', align:'center',sort:true, width:120}
                ,{field: 'num_ok', title: '已入库', align:'center',sort:true, width:120}
                ,{field: 'stock_num',title: '入库数量', align:'center',sort:true, width:120, edit:'text', event:'check_status'}
                ,{field: 'unit_name', title: '单位', align:'center', width:100}
                ,{field: 'price', title: '价格', sort:true, align:'center', width:100}
                ,{field: 'need_type', title: '类型', align:'center',sort:true, templet:"#template_type", width:80}
                ,{field: 'stock_status', title: '状态', align:'center',sort:true, templet:"#template_stock", width:80}
            ]],parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            },response: {
                statusCode: 200 //规定成功的状态码，默认：0
            }
        });

        //监听单元格编辑
        table.on('edit(table)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段

            var oldvalue = $(this).prev().text();

            checkNum(obj, field, value, oldvalue)
        });

        // 校验数据格式
        function checkNum(obj,field,value, oldvalue){
            var num_no = parseFloat(obj.data.num) - parseFloat(obj.data.num_ok);
            num_no = num_no.toFixed(2);
            value = parseFloat(value).toFixed(2);

            var objTemp = {};
            objTemp[field] = oldvalue;

            // 判断输入的数字的格式
            var reg = new RegExp("^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$");
            if (!reg.test(value)){

                setTimeout(function () {
                    // 小于0回滚再次获得焦点打开
                    obj.update(objTemp);
                    $(obj.tr).find("[data-field="+ field +"]").css('border-bottom-color', 'red');
                    layer.msg('请填写正确的数字<br>（不含负数，自动保留两位小数）！', {anim: 6});
                }, 0);
                return false
            }

            // 判断入库数量的大小
            if (parseFloat(value) > parseFloat(num_no)) {
                // 边框变红
                $(obj.tr).find("[data-field="+ field +"]").css('border-bottom-color', 'red');
                // 弹出错误信息
                layer.msg(obj.data.goods_name + '<br>入库数量必须小于未入库数量：' + num_no + '！', {anim: 6});
                setTimeout(function () {
                    // 小于0回滚再次获得焦点打开
                    obj.update(objTemp);
                }, 0);
                return false
            }

            $(obj.tr).find("[data-field="+ field +"]").css('border-bottom-color', '#e6e6e6');

            setTimeout(function () {
                objTemp[field] = value;
                obj.update(objTemp);
            }, 0);

            return true;
        }

        // 监听工具条
        table.on('toolbar(table)', function(obj) {
            switch (obj.event) {
                case 'stock_sure':
                    error = 0;
                    layui.each(table.cache.table,function(index,item){
                        if (item.stock_status == '已入库'){
                            return true;
                        }
                        // 判断供货商是否选择
                        var num_no = parseFloat(item.num) - parseFloat(item.num_ok);
                        num_no = num_no.toFixed(2);

                        if (parseFloat(item.stock_num) > parseFloat(num_no)){
                            $('tr[data-index='+ index +']').find("[data-field=stock_num]").css('border-bottom-color', 'red');
                            layer.msg('入库失败！<br>'+ item.goods_name +'<br>入库数量必须小于未入库数量：'+ num_no +'！', {anim: 6});
                            error += 1;
                            return false;
                        }else{
                            $('tr[data-index='+ index +']').find("[data-field=stock_num]").css('border-bottom-color', '#e6e6e6');
                        }
                    });
                    if (error > 0){
                        layer.closeAll('loading');
                        return false;
                    }
                    var form_data = {
                        'store_id'  : form.val("data-form")['store_id'],
                        'buy_id'    : "{$Request.get.id}",
                        'json_data' : layui.table.cache.table
                    };
                    layer.load(2);
                    $.post("{:url('buy/ajax_stock_in')}", form_data,function(ret){
                        layer.closeAll('loading');
                        if (ret.code == 200){
                            layer.msg(ret.msg);
                            table_reload();
                        }else{
                            layer.msg(ret.msg,{anim: 6});
                        }
                    });
                break;




            }
        });

        // 监听表格按钮
        table.on('tool(table)', function(obj) {
            switch(obj.event){
                case 'check_status':
                    if (obj.data.stock_status == '已入库'){
                        layer.msg('该材料已完成入库！',function () {

                        });
                        $(obj.tr).find('input').remove();

                        return false;
                    }

                    if (obj.data.stock_num == 0 || obj.data.stock_num == null){
                        var num_no = obj.data.num - obj.data.num_ok;
                        num_no = num_no.toFixed(2);
                        $(obj.tr).find("input").val(num_no);
                        setTimeout(function () {
                            // 小于0回滚再次获得焦点打开
                            obj.update({'stock_num' : num_no});
                        }, 100);
                    }
                    $(obj.tr).find("input").select();

                    break;
                case 'supply':

                break;
            }
        });
    })


</script>
{include file="public/footer" /}