<!DOCTYPE html>
<html class="iframe-h">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>电网system</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
	</head>
	<style>
		.layui-table-cell{
			overflow:visible !important;
		}
		.layui-table-cell{
			height: 38px;
			line-height: 38px;
		}
	</style>
	<body>

	<table class="layui-hide" id="test" lay-filter="test3"></table>


	<script src="__STATIC__/admin/layui/layui.js" charset="utf-8"></script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script type="text/html" id="checkboxTpl">
		<input type="checkbox" name="lock" title="核对" lay-filter="lockDemo">
	</script>

	<script type="text/html" id="goods_list">
		<div>
			<select name="modules" lay-verify="required" lay-search="" lay-filter="test">
				<option value="">搜索材料名称、编号</option>
				<?php foreach($data['goods'] as $k => $v){ ?>
				<option value="<?php echo $v['id'] ?>" {{ d.goods_id == <?php echo $v['id'] ?> ? 'selected' : '' }}><?php echo $v['name'] . '-' . $v['number'] ?></option>
				<?php } ?>
			</select>
		</div>
	</script>

	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>


	<script>
		layui.use('table', function(){
			var table = layui.table,
					form = layui.form;
			var tableSelect = layui.tableSelect;


			table.render({
				elem: '#test'
				,height:'full-20'
				,url:"{:url('need/ajaxNeedList')}"
				,where:{'project_id':'{$data.project_id}'}
				,totalRow:true
				,limit:10
				,loading:true
				,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
				,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
					title: '提示'
					,layEvent: 'LAYTABLE_TIPS'
					,icon: 'layui-icon-tips'
				}]

				,cols: [[
					{type:'numbers', width:100, title: '序号', sort: true, id:'demo', align:'center'}
					,{field:'goods_id', width:500, title: '材料名称-编号', templet:'#goods_list', align:'center'}
					,{field:'unit', width:200, title: '单位', align:'center'}
					,{field:'need', width:200, title: '需求数量', sort: true, edit:'text', align:'center'}
					,{field:'note', width:200, title: '备注', edit:'text', align:'center'}
					,{field:'create_time', title: '创建时间', minWidth: 50, edit:'text', sort:true, align:'center'}
					,{field:'check', title:'核对', width:110, templet: '#checkboxTpl', unresize: true, align:'center'}
					,{fixed: 'right', title:'操作', width:178, align:'center', toolbar: '#barDemo', align:'center'}
				]]
				,page: true
			});

			//监听工具条
			table.on('tool(test3)', function(obj){
				var data = obj.data;
				if(obj.event === 'detail'){
					layer.msg('ID：'+ data.id + ' 的查看操作');
				} else if(obj.event === 'del'){
					layer.confirm('真的删除行么', function(index){
						obj.del();
						layer.close(index);
					});
				} else if(obj.event === 'edit'){
					layer.alert('编辑行：<br>'+ JSON.stringify(data))
				}
			});

			//监听锁定操作
			form.on('checkbox(lockDemo)', function(obj){
				layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
			});

			form.on('select(test)', function(data){
				console.log(data.elem); //得到select原始DOM对象

				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
			});

			//监听单元格编辑
			table.on('edit(test3)', function(obj){
				var value = obj.value //得到修改后的值
						,data = obj.data //得到所在行所有键值
						,field = obj.field; //得到字段
				layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
			});
		});
	</script>

	</body>

</html>