{include file="public/header"}
<div class="wrap-container clearfix">
	<div class="column-content-detail">
		<blockquote class="layui-elem-quote">
			<div class="layui-row">
				<div class="col-md-9" style="line-height: 38px">
					<b>工程：{$data.project.name}</b>
				</div>
				<div class="col-md-3" style="text-align: right">
					<button type="button" class="layui-btn layui-bg-blue" onclick="window.history.back(-1)" style=""><i class="layui-icon layui-icon-return" style="font-size: 13px"></i>返回</button>
				</div>
			</div>
		</blockquote>

		<div class="layui-row">
			<div class="col-md-6">
				<input type="text" name="keywords" placeholder='请输入商品编号 / 名称...' autocomplete="off" class="layui-input keywords" value="{$Think.get.keywords}" />
			</div>
			<div class="col-md-3">
				<button type="button" class="layui-btn add_goods"><i class="layui-icon layui-icon-add-1" style="font-size: 13px"></i>添加</button>
			</div>
			<div class="col-md-3" style="text-align: right">
			</div>
		</div>
		<div class="layui-row">
			<div class="ajax_page col-md-12">
				<!--  用来存放ajax获取HTML内容的存放容器  -->
			</div>
		</div>
	</div>
</div>

{include file="public/script"}
{include file="public/footer"}

<!-- 商品列表 -->
<div class="wrap-container clearfix" id="goods_list" style="display: none">
	<div class="column-content-detail">

		<div class="layui-row">
			<div class="col-md-2">
				<div class="layui-inline layui-form">
					<div class="layui-input-inline">
						<select name="modules" lay-search="" lay-filter="type_list">
							<option value="">全部分类</option>
							{volist name="$data.type_list" id="v"}
							<option value="{$v.id}">{$v.name}</option>
							{/volist}
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<input type="text" name="keywords" placeholder="请输入商品编号 / 名称..." autocomplete="off" class="layui-input goods_keywords" value="{$Think.get.keywords}" />
			</div>
		</div>
		<div class="layui-row">
			<div class="goods_ajax_page col-md-12">
				<!--  用来存放ajax获取HTML内容的存放容器  -->
			</div>
		</div>
	</div>
</div>

<script>
	var ajaxPage;
	var goodsAjaxPage;

	var need_url  = "{:url('need/ajax_page')}";
	var goods_url = "{:url('goods/ajax_page')}";

	layui.use(['form', 'jquery', 'element'], function() {
		var form = layui.form,
				$ = layui.jquery,
				element = layui.element;

		var obj;

		$(function(){
			ajaxPage(need_url, 1);
			form.render();
		});

		// 判断输入框输入事件
		$('.keywords').on('input propertychange', function(){
			ajaxPage(need_url, 1)
		});

		form.on('switch(check)', function(data){
			// console.log(data.elem); //得到checkbox原始DOM对象

			console.log(data.elem.checked); //开关是否开启，true或者false

			console.log(data.value); //开关value值，也可以通过data.elem.value得到
			var edit_url = "{:url('need/edit')}";
			var check_val;
			if (data.elem.checked){
				check_val = 1;
			}else{
				check_val = 0;
			}

			var form_data = {
				'id'    : data.value,
				'check' : check_val,
			};
			$.post(edit_url, form_data, function () {
			})
		});

		// 点击分页触发的ajax
		ajaxPage = function (url, page){
			layer.load(2);

			var form_data = {
				'page'       : page,
				'keywords'   : $('.keywords').val(),
				'project_id' : "{$data.project_id}",
			};

			console.log(form_data);
			$.ajax({
				url:url,
				type:'GET',
				async:false,
				data:form_data,
				success:function (ret) {
					layer.closeAll('loading');
					$('.ajax_page').html(ret);
					$('.ajax_page div').fadeIn();
					// 重新渲染 checkbox框
					form.render('checkbox');
					// 绑定删除事件
					bindDel();
					// 绑定修改数量事件
					bindEditNum()
				}
			});
		}

		// 弹出商品列表框
		function editGoods(){
			layer.open({
				type: 1,
				title: '选择商品',
				anim:5,
				shadeClose: true,
				offset: ['10px'],
				shade: 0.5,
				scrollbar:false,
				maxmin: true, //开启最大化最小化按钮
				area: ['1200px', '700px'],
				content: $('#goods_list'),
			});
		}

		// 点击弹出商品框
		$('.add_goods').click(function () {
			editGoods();
		});

		// 绑定删除事件
		function bindDel(){
			// 删除一行
			$('.btn_del').on('click', function () {
				var form_data = {
					'id' : $(this).data('id'),
				};
				$.post("{:url('need/del')}",form_data,function (ret) {
					layer.msg(ret.msg);
					if (ret.code == 200){
						ajaxPage(need_url	, 1)
					}
				})
			});
		}

		// 绑定双击修改事件
		function bindEditNum(){
			$('.alert_need').dblclick(function () {
				var obj = $(this);
				var old_num = $(this).html();
				var dom_input = "<input type=\"number\" lay-verify=\"required\" placeholder=\"请输入数量\" value="+ old_num +" class=\"layui-input input_need\">";
				if ($(this).data('box') != 1){
					$(this).html(dom_input);
					$(this).data('box', 1);
					$('.input_need').focus().select();
				}
				$('.input_need').blur(function () {
					var edit_url = "{:url('need/edit')}";
					var need = $(this).val();
					if (!need){
						need = 0;
					}

					var form_data = {
						'id'   : obj.data('id'),
						'need' : need,
					};
					$.post(edit_url, form_data, function (ret) {
						layer.msg(ret.msg);
						if (ret.code == 200){
							obj.html(need);
							obj.data('box', 0);
						}
					});
				})
			})
		}


		<!----------------------------- 商品列表 js ----------------------------------->
		var type_id = '';

		$(function(){
			goodsAjaxPage(1);
		});

		// 判断输入框输入事件
		$('.goods_keywords').on('input propertychange', function(){
			goodsAjaxPage(1)
		});

		form.on('select(type_list)', function(data){
			console.log(data.value); //得到被选中的值
			type_id = data.value;
			goodsAjaxPage(1);
		});

		// 点击分页触发的ajax
		goodsAjaxPage = function (page){
			layer.load(2);

			var form_data = {
				'page'     : page,
				'keywords' : $('.goods_keywords').val(),
				'type_id'  : type_id,
			};

			console.log('商品分页');
			console.log(form_data);

			$.ajax({
				url:goods_url,
				type:'GET',
				async:false,
				data:form_data,
				success:function (ret) {
					layer.closeAll('loading');
					$('.goods_ajax_page').html(ret);
					$('.goods_ajax_page div').fadeIn();

					var project_id = "{$data.project_id}";

					// 绑定双击事件 用来调出商品框
					$('.tr_goods').dblclick(function () {
						var form_data = {
							'project_id' : "{$data.project_id}",
							'goods_id'   : $(this).find('.td_id').html(),
						};

						$.post("{:url('need/add')}",form_data,function (ret) {
							layer.msg(ret.msg);
							if (ret.code == 200){
								ajaxPage(need_url, 1)
							}
						});
					})
				}
			});
		}
	});
</script>

