<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>电网system</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
    <style>
        .stock_order_table .layui-input{ border: none;}
    </style>
</head>

<body>
    <form class="layui-form column-content-detail" method="post"
        action="{:url('buy/create_buy')}">
        <div class="layui-tab">
            <!-- <ul class="layui-tab-title">
							<li class="layui-this">文章内容</li>
							<li>SEO优化</li>
						</ul> -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;">工程：</label>
                            <div class="layui-input-inline" style="width: 185px;">
                                <select name="project_id" {notempty name="Request.param.id"}disabled="true"{/notempty} data-pid="{$Request.param.id}" class="project_id" data-url="{:url('buy/get_need')}" required lay-verify="required" lay-filter="project_id" lay-verType="tips" lay-search="">
                                    <option value="">请选择工程</option>
                                    {volist name="project_list" id="project"}
                                    <option {eq name="project.id" value="$Request.param.id"} selected {/eq} value="{$project.id}">{$project.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">类型:</label>
                            <div class="layui-input-inline" style="width: 185px;">
                                <select name="from" class="from" required lay-verify="required" lay-filter="from" lay-verType="tips" lay-search="">
                                    {volist name="buy_from" id="from"}
                                    <option value="{$key}">{$from}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>


                    <table class="layui-table stock_order_table" lay-size="sm" data-url="{:url('buy/get_have')}">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>材料编号</th>
                                <th>材料名称</th>
                                <th>供应商</th>
                                <th>价格</th>
                                <th>预算</th>
                                <th>已采购</th>
                                <th>结余调拨数量</th>
                                <th>工程调拨数量</th>
                                <th>调拨</th>
                                <th>本次采购</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    
                    <input type="hidden" class="apply_for_v" value="1" />
                    
                    <div class="layui-form-item apply_for_k" style="display: none;">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;">申请原因：</label>
                            <div class="layui-input-inline" style="width: 500px;">
                                <select class="note_select" lay-verType="tips" lay-search="">
                                    <option value="预算材料不足。">预算材料不足</option>
                                    <option value="加购材料。">加购材料</option>
                                    <option value="材料破损-补充材料。">材料破损-补充材料</option>
                                    <option value="其他原因:">其他原因</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;"></label>
                            <div class="layui-input-inline" style="width: 500px;">
                                <textarea name="note" placeholder="请输入原因" class="layui-textarea note"></textarea>                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="padding-left: 10px; text-align: center;">

            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>

        </div>
    </form>
    <script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script>
        function selectRole(e,d,f,c) {
            console.log(e);
            console.log(d);
            console.log(f);
            parent.layer.open({ //在父窗口打开
                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                type: 2,
                title: "调拨",
                area: ['80%', '80%'],
                content: "{:url('allocation/index')}?project_id="+d+"&supply_goods_id="+e+"&is_type="+f+"&goods_name="+c,
            });
        }
        layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'tool', 'element', 'layedit'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery,
                laypage = layui.laypage,
                laydate = layui.laydate,
                layedit = layui.layedit,
                tool = layui.tool,
                element = layui.element,
                dialog = layui.dialog;

            //自定义验证规则
            form.verify({
                buy_num: function(value, item) {
                    var max = item.dataset.max;
                    var apply_for_v = $('.apply_for_v').val();
                    var re = /^[0-9]+[0-9]*]*$/;
                    if (!re.test(value)){
                        return '请输入正整数';
                    }
                },
                supply: function(value, item) {
                    var num = $(item).parents('tr').find('.num').val();
                    if(num * 1 > 0){
                        if(!value){
                            return '请选择供应商';
                        }
                    }
                },
            });

            $(document).on('change', '.num', function(){
                var k = 0;
                $('.num').each(function(){
                    var max = $(this).data('max');
                    var num = $(this).val();
                    if(num * 1 > max *1){
                        k++;
                    }
                })
                //console.log('k:'+k);
                if(k > 0){
                    $('.apply_for_v').val(2);
                    $('.apply_for_k').show();
                }else{
                    $('.apply_for_v').val(1);
                    $('.apply_for_k').hide();
                }
                return false;
            });

            form.on('select(project_id)', function (data) {
                var project_id = data.value;
                var url = $(data.elem).data('url');
                get_need_data(url, project_id);
            });

            form.on('select(from)', function (data) {
                var project_id = $('.project_id').val();
                var url = $('.project_id').data('url');
                get_need_data(url, project_id);
            });

            if($('.project_id').data('pid')){
                get_need_data($('.project_id').data('url'), $('.project_id').data('pid'))
            }

            function get_need_data(url, project_id){
                if(!project_id){
                    empty_table();
                }
                var from = $('.from').val();
                loading = layer.load(2, {
                    shade: [0.2, '#000']
                });
                $.post(url, {id: project_id, from: from}, function(data){ 
                    console.dir(data);
                    layer.close(loading);
                    var str = '';
                    for(var i in data){
                        str += '<tr>';
                        str += '    <td>'+ data[i]['number'] +'</td>';
                        str += '    <td>'+ data[i]['name'] +'</td>';
                        str += '    <td style="padding: 0px;">';
                        str += '        <select lay-verify="supply" lay-filter="supply" class="supply" lay-verType="tips" lay-search="">';
                        str += '            <option value="">请选择供应商</option>';

                        var data2 = data[i]['supply'];
                        for(var j in data2){
                            str += '            <option value="{id:'+data2[j]['id']+', price:'+data2[j]['price']+'}">'+data2[j]['name']+'</option>';
                        }

                        str += '        </select>';
                        str += '    </td>';
                        str += '    <td></td>';
                        str += '    <td>'+ data[i]['need'] +'</td>';
                        str += '    <td>'+ data[i]['buy_num'] +'</td>';
                        str += '    <td>'+ data[i]['project_num'] +'</td>';
                        str += '    <td>'+ data[i]['have_num'] +'</td>';
                        str += '<td>';
                        str += '<div class="layui-input-inline">';
                        str += '<button type="button" class="layui-btn layui-btn-sm layui-btn-normal addBtn btn_tips" onclick="selectRole('+ data[i]['goods_id'] +','+ data[i]['project_id'] +','+data[i]['type']+')" data-title="调拨材料"  data-url="" data-h="400px"><i class="layui-icon">&#xe609;</i></button>';
                        str += '</div>';
                        str += '</td>';
                        str += '    <td style="padding: 0px;">';
                        var max_num = data[i]['need'] * 1 - data[i]['buy_num'] * 1 - data[i]['project_num'] * 1 - data[i]['have_num'] * 1;
                        str += '        <input type="number" min="0" data-max="'+ max_num +'" data-id="'+ data[i]['goods_id'] +'" class="layui-input num" lay-verify="number|buy_num" lay-verType="tips" style="border: none; text-align: center; padding: 0px;" value="0" />';
                        str += '    </td>';
                        str += '</tr>';
                    }
                    $('.stock_order_table').find('tbody').html(str);
                    form.render('select');
                })
            }

            form.on('select(supply)', function (data) {
                if(data.value == ''){
                    $(data.elem).parents('td').next('td').html('');
                    //$(data.elem).parents('td').next('td').next('td').next('td').html('');
                    return false;
                }
                var supply = eval('(' + data.value + ')');
                $(data.elem).parents('td').next('td').html(supply.price / 100);
                // var url = $('.stock_order_table').data('url');
                // loading = layer.load(2, {
                //     shade: [0.2, '#000']
                // });
                // var that = $(data.elem);
                // $.post(url, {id: supply.id}, function(data){
                //     console.dir(data);
                //     layer.close(loading);
                //     $(that).parents('td').next('td').next('td').next('td').html(data.have);
                // });
            });

            function empty_table(){
                $('.stock_order_table').find('tbody').html('');
            }


            form.on('submit(formDemo)', function (data) {

                var url = data.form.action;
                var project_id = $('.project_id').val();
                var num = [];
                $('.stock_order_table').find('tbody').find('tr').each(function(e){

                    var val = $(this).find('.num').val();
                    var id = $(this).find('.num').data('id');
                    var supply = $(this).find('.supply').val();
                    var sp = '';
                    if(supply){
                        supply = eval('(' + supply + ')');
                        sp = supply.id;
                    }
                    if(val * 1 > 0){
                        num.push({id: id, sp: sp, val: val});
                    }
                });

                if(num.length <= 0){
                    layer.msg('请填写采购的数量', { icon: 2, shade: 0.1, time: 1000 });
                    return false;
                }
                var type = $('.apply_for_v').val();
                var note = '';
                if(type == 2){
                    note = $('.note_select').val() + $('.note').val();
                }
                num = JSON.stringify(num);
         
                loading = layer.load(2, {
                    shade: [0.2, '#000']
                });

                $.post(url, {project_id: project_id, num: num, note: note, type: type, from: from}, function (data) {
                    layer.close(loading);
                    console.dir(data);
                    if (data.error_code) {
                        layer.msg(data.msg, { icon: 2, shade: 0.1, time: 1000 }, function () {

                        });
                        return false;
                    }
                    layer.msg(data.msg, { icon: 1, shade: 0.1, time: 1000 }, function () {
                        parent.refresh();
                    });
                });

                return false;
            });




        });
    </script>
</body>

</html>