<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>电网system</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
    <style>
        .stock_order_table .layui-input{ border: none;}
    </style>
</head>

<body>
    <form class="layui-form column-content-detail" method="post"
        action="{:url('buy/create_buy')}">
        <div class="layui-tab">
            <!-- <ul class="layui-tab-title">
							<li class="layui-this">文章内容</li>
							<li>SEO优化</li>
						</ul> -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;">工程：</label>
                            <div class="layui-input-inline" style="width: 185px;">
                                <select name="project_id" {notempty name="Request.param.id"}disabled="true"{/notempty} data-pid="{$Request.param.id}" class="project_id" data-url="{:url('buy/get_need')}" required lay-verify="required" lay-filter="project_id" lay-verType="tips" lay-search="">
                                    <option value="">请选择工程</option>
                                    {volist name="project_list" id="project"}
                                    <option {eq name="project.id" value="$Request.param.id"} selected {/eq} value="{$project.id}">{$project.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">类型:</label>
                            <div class="layui-input-inline" style="width: 185px;">
                                <select name="from" class="from" required lay-verify="required" lay-filter="" lay-verType="tips" lay-search="">
                                    {volist name="buy_from" id="from"}
                                    <option value="{$key}">{$from}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>


                    <table id="table-list" class="layui-table stock_order_table" lay-size="sm" data-url="{:url('buy/get_have')}">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>材料</th>
                                <th>供应商</th>
                                <th>价格</th>
                                <th>本次采购</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="goods_tr">
                                <td style="padding: 0px;">
                                    <select lay-verify="goods" lay-filter="goods" class="goods" data-url="{:url('buy/select_supply')}" lay-verType="tips" lay-search="">
                                        <option value="">请选择材料</option>
                                        {volist name="goods_list" id="goods"}
                                            <option value="{$goods.id}">{$goods.name}/{$goods.number}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td style="padding: 0px;">
                                    <select lay-verify="supply" lay-filter="supply" class="supply" lay-verType="tips" lay-search="">
                                        <option value="">请选择供应商</option>
                                    </select>
                                </td>
                                <td class="price"></td>
                                <td style="padding: 0px;">
                                    <input type="number" min="0" data-id="" class="layui-input num" lay-verify="number|buy_num" lay-verType="tips" style="border: none; text-align: center; padding: 0px;" value="0" />
                                </td>
                                <td>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs goods_del">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5" >
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs goods_add">添加</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;">申请原因：</label>
                            <div class="layui-input-inline" style="width: 500px;">
                                <select class="note_select" lay-verType="tips" lay-search="">
                                    <option value="预算材料不足。">预算材料不足</option>
                                    <option value="加购材料。">加购材料</option>
                                    <option value="材料破损-补充材料。">材料破损-补充材料</option>
                                    <option value="其他原因:">其他原因</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;"></label>
                            <div class="layui-input-inline" style="width: 500px;">
                                <textarea name="note" placeholder="请输入原因" class="layui-textarea note"></textarea>                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="padding-left: 10px; text-align: center;">

            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>

        </div>
    </form>
    <script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'tool', 'element', 'layedit'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery,
                laypage = layui.laypage,
                laydate = layui.laydate,
                layedit = layui.layedit,
                tool = layui.tool,
                element = layui.element,
                dialog = layui.dialog;

            //自定义验证规则
            form.verify({
                buy_num: function(value, item) {
                    var get = item.dataset.get;
                    var back = item.dataset.back;
                    var re = /^[0-9]+[0-9]*]*$/;
                    if (!re.test(value)){
                        return '请输入正整数';
                    }
                    
                },
                goods: function(value, item) {
                    var num = $(item).parents('tr').find('.num').val();
                    if(num * 1 > 0){
                        if(!value){
                            return '请选择材料';
                        }
                    }
                },
                supply: function(value, item) {
                    var num = $(item).parents('tr').find('.num').val();
                    if(num * 1 > 0){
                        if(!value){
                            return '请选择供应商';
                        }
                    }
                },
            });
            
            var goods_tr = $('.goods_tr').clone(true, true);

            $(document).on('click', '.goods_add', function(){
                var add_tr = goods_tr.clone(true, true);
                $(this).parents('tr').before(add_tr);
                form.render('select');
            });

            $(document).on('click', '.goods_del', function(){
                $(this).parents('tr').remove();
            });

            form.on('select(goods)', function (data) {
                var url = $(data.elem).data('url');
                var id = data.value;
                var that = $(data.elem);
                $(that).parents('tr').find('.price').html('');
                if(id == ''){
                    $(that).parents('tr').find('.supply').html('<option value="">请选择供应商</option>');
                    form.render('select');
                    return false;
                }
                loading = layer.load(2, {
                    shade: [0.2, '#000']
                });
                
                $.post(url, {id: id}, function(data){ 
                    console.dir(data);
                    layer.close(loading);
                    var str = '<option value="">请选择供应商</option>';
                    for(var j in data){
                            str += '<option value="{id:'+data[j]['id']+', price:'+data[j]['price']+'}">'+data[j]['name']+'</option>';
                        }
                    $(that).parents('tr').find('.supply').html(str);
                    form.render('select');
                });
            });

            form.on('select(supply)', function (data) {
                if(data.value == ''){
                    //$(data.elem).parents('td').next('td').html('');
                    $(data.elem).parents('tr').find('.price').html('');
                    // $(data.elem).parents('td').next('td').next('td').next('td').html('');
                    return false;
                }
                var supply = eval('(' + data.value + ')');
                //$(data.elem).parents('td').next('td').html();
                $(data.elem).parents('tr').find('.price').html(supply.price / 100);
                // var url = $('.stock_order_table').data('url');
                // loading = layer.load(2, {
                //     shade: [0.2, '#000']
                // });
                // var that = $(data.elem);
                // $.post(url, {id: supply.id}, function(data){ 
                //     console.dir(data);
                //     layer.close(loading);
                //     $(that).parents('td').next('td').next('td').next('td').html(data.have);
                // });
            });

            function empty_table(){
                $('.stock_order_table').find('tbody').html('');
            }


            form.on('submit(formDemo)', function (data) {

                var url = data.form.action;
                var project_id = $('.project_id').val();
                var from = $('.from').val();
                var note = $('.note_select').val() + $('.note').val();
                var num = [];
                $('.stock_order_table').find('tbody').find('tr').each(function(e){

                    var val = $(this).find('.num').val();
                    var id = $(this).find('.goods').val();
                    var supply = $(this).find('.supply').val();
                    var sp = '';
                    if(supply){
                        supply = eval('(' + supply + ')');
                        sp = supply.id;
                    }
                    if(val * 1 > 0){
                        num.push({id: id, sp: sp, val: val});
                    }
                });

                if(num.length <= 0){
                    layer.msg('请填写采购的数量', { icon: 2, shade: 0.1, time: 1000 });
                    return false;
                }
                num = JSON.stringify(num);
                // console.log(note);
                // return false;
                loading = layer.load(2, {
                    shade: [0.2, '#000']
                });

                $.post(url, {project_id: project_id, num: num, note: note, type: 2, from: from}, function (data) {
                    layer.close(loading);
                    console.dir(data);
                    if (data.error_code) {
                        layer.msg(data.msg, { icon: 2, shade: 0.1, time: 1000 }, function () {

                        });
                        return false;
                    }
                    layer.msg(data.msg, { icon: 1, shade: 0.1, time: 1000 }, function () {
                        parent.refresh();
                    });
                });

                return false;
            });




        });
    </script>
</body>

</html>