{include file="public/header" /}
	<div class="wrap-container clearfix">
			<div class="column-content-detail">
					<div class="layui-row">
						<form method="get" action="{:url('buy/index')}">

						<div class="layui-col-lg2">
							<input type="text" name="search" placeholder="请输入搜索内容" autocomplete="off" class="layui-input" value="{$data.search}" />
						</div>
						<div class="layui-col-lg2">
							<button class="layui-btn">搜索</button>
						</div>
						</form>


						<div class="layui-col-lg3">
							<button class="layui-btn show_project">添加采购工程</button>
						</div>
					</div>
				<div class="layui-form" id="table-list">
					<table class="layui-table" lay-skin="line">
						<thead>
							<tr>
								<th>采购单号</th>
								<th>状态</th>
								<th>类型</th>
								<th>工程列表</th>
								<th>采购明细</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						{volist name="data.list" id="v"}
							<tr>
								<td>{$v['number']}</td>
								<td>{$v['status']|raw}</td>
								<td>{$v['from']}</td>
								<td>{$v['from']}</td>
								<td>{$v['from']}</td>
								<td>{$v['create_time']}</td>
								<td>
									<a href="{:url('buy/edit')}" class="layui-btn layui-btn-sm">编辑</a>
									<a class="layui-btn layui-btn-sm">作废</a>
								</td>
							</tr>
						{/volist}
						</tbody>
					</table>
					<div class="page-wrap">{$data.list->render()|raw}</div>
				</div>
			</div>
	</div>
	{include file="public/script" /}
	<script>
		layui.use(['form', 'jquery', 'element', 'laydate'], function() {
			var form = layui.form,
				$ = layui.jquery,
				laydate = layui.laydate,
				element = layui.element;




		});
		// 弹出商品列表框
		function showProject(){
			layer.open({
				type: 1,
				title: '选择采购工程',
				anim:5,
				shadeClose: true,
				offset: ['10px'],
				shade: 0.5,
				scrollbar:false,
				maxmin: true, //开启最大化最小化按钮
				area: ['1200px', '700px'],
				content: $('#goods_list'),
			});
		}

		// 点击弹出商品框
		$('.show_project').on('click', function () {
			showProject();
		});
	</script>
{include file="public/footer" /}