{include file="public/header" /}
	<div class="wrap-container clearfix">
			<div class="column-content-detail">
				<!--- 头部搜索框 --->
				<div class="layui-card">
					<div class="layui-form">

						<div class="layui-form-item">
							<div class="layui-inline layui-form-pane">
								<div class="layui-inline">
									<button class="layui-btn search_btn1 layui-bg-blue"><i class="layui-icon layui-icon-add-1"></i>添加采购单</button>
									<button class="layui-btn search_btn2 layui-bg-blue"><i class="layui-icon layui-icon-list"></i>导出</button>
								</div>
							</div>
						</div>
						<form class="layui-form" lay-filter="search-form">
								<div class="layui-form-item">
									<div class="layui-inline layui-form-pane">
										<label class="layui-form-label">时间范围</label>
										<div class="layui-input-inline">
											<input type="text" name="create_time" style="width: 513px" value="" class="layui-input" id="time" readonly="readonly" placeholder="开始时间 - 结束时间">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline layui-form-pane">
										<label class="layui-form-label">采购单编号</label>
										<div class="layui-input-inline">
											<input type="text" name="search" placeholder="请输入采购单编号..." autocomplete="off" class="layui-input search"/>
										</div>
									</div>


									<div class="layui-inline layui-form-pane">
										<label class="layui-form-label">类型</label>
										<div class="layui-input-inline">
											<select name="from" lay-search="">
												{volist name="data.from" id="v"}
													<option value="{$key}">{$v}</option>
												{/volist}
											</select>
										</div>
									</div>

									<div class="layui-inline layui-form-pane">
										<label class="layui-form-label">状态</label>
										<div class="layui-input-inline">
											<select name="status" lay-search="">
												{volist name="data.status" id="v"}
												<option value="{$key}">{$v}</option>
												{/volist}
											</select>
										</div>
									</div>

									<div class="layui-inline">
										<div class="layui-input-inline">
											<button class="layui-btn layui-bg-blue btn_search"><i class="layui-icon layui-icon-search"></i>搜索</button>
											<button type="reset" class="layui-btn layui-btn-normal" id="empty"  lay-submit="" lay-filter="LAY-search">重置</button>
										</div>
									</div>
								</div>
						</form>
					</div>

				</div>
				<!--- 头部搜索框 --->


				<div class="layui-form" id="table-list">

					<table id="table" lay-filter="table"></table>

					<div class="buy_type" style="display: none;margin-top: 10px;">
						<center>
							<input type="radio" class="buy_type_val" name="sex" value="1" title="自购" checked>
							<input type="radio" class="buy_type_val" name="sex" value="2" title="甲供">
						</center>
					</div>

				</div>
			</div>
	</div>
	{include file="public/script" /}

	<script type="text/html" id="template_status">
		{{# if(d.status == '待确认'){ }}
			<span class="layui-badge layui-bg-cyan">{{d.status}}</span>
		{{# } }}
		{{# if(d.status == '采购中'){ }}
			<span class="layui-badge layui-bg-orange">{{d.status}}</span>
		{{# } }}
		{{# if(d.status == '已完成'){ }}
			<span class="layui-badge layui-bg-green">{{d.status}}</span>
		{{# } }}
		{{# if(d.status == '已作废'){ }}
			<span class="layui-badge layui-bg-gray">{{d.status}}</span>
		{{# } }}
	</script>

	<script type="text/html" id="toolbar">
		<div class="layui-btn-container">
			{{# if(d.status != '已作废'){ }}
				<a class="layui-btn layui-btn-sm layui-bg-blue" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
				<button class="layui-btn layui-btn-sm layui-bg-gray" lay-event="cancel"><i class="layui-icon layui-icon-close-fill"></i>作废</button>
			{{# } }}

		</div>
	</script>

	<script>
		layui.use(['form', 'jquery', 'element', 'laydate', 'table'], function() {
			var form = layui.form,
				$ = layui.jquery,
				laydate = layui.laydate,
				table = layui.table;

			//日期范围
			laydate.render({
				elem: '#time'
				,range: '至'
				,type:'datetime'

			});

			form.on('submit(search-form)',function (data) {
				var where =  data.field;
				//执行重载
				table.reload('table', {
					where: where
				});
				return false;
			});


			//第一个实例
			table.render({
				elem: '#table'
				,url: "{:url('buy/ajax_get_list')}"//数据接口
				,height: 'full-70'
				,page: true //开启分页
				,toolbar:true
				,limit:20
				,loading:true
				,where:{
				}
				,text:{
					none:'暂无相关数据'
				}
				,cols: [[ //表头
					{field: 'id', title: 'ID', width:100, sort: true, fixed: 'left', align:'center'}
					,{field: 'number', title: '采购单编号', align:'center'}
					,{field: 'from', title: '工程列表', align:'center'}
					,{field: 'number', title: '采购清单', align:'center'}
					,{field: 'from', title: '类型', sort:true, align:'center', width:80}
					,{field: 'status', title: '状态', sort:true, templet:'#template_status', align:'center', width:90}
					,{field: 'create_time', title: '创建时间', sort:true, align:'center', width:180}
					,{field: 'number', title: '操作', templet:'#toolbar', fixed:'right', align:'center', width:180}
				]],parseData: function(res){ //res 即为原始返回的数据
					return {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.data.total, //解析数据长度
						"data": res.data.data //解析数据列表
					};
				},response: {
					statusCode: 200 //规定成功的状态码，默认：0
				}
			});

			table.on('tool(table)', function(obj) {
				if (obj.event == 'edit'){
					layer.open({
						type : 2,
						content:"{:url('buy/edit')}" + '?id=' + obj.data.id,
						title:['采购单编号：' + obj.data.number  + '   状态：' + obj.data.status + '   创建时间：' + obj.data.create_time, 'font-weight:bold'],
						btnAlign: 'c',
						area: ['100%', '100%'],
						anim: 5,
						isOutAnim:true,
					});
				}

				if (obj.event == 'cancel'){
					layer.confirm('确定作废这张采购单吗？', {icon: 3, title:'提示'}, function(index){
						var form_data = {
							id : obj.data.id,
						};
						$.post("{:url('buy/ajax_cancel')}",form_data, function(ret){
							if(ret.code == 200){
								layer.msg(ret.msg)
							}else{
								layer.msg(ret.msg, function () {

								})
							}
							table.reload('table', {
								where: form.val("search-form"),
							});
						});
						layer.close(index);
					});
				}
			});

			$('.search_btn2').click(function(){
				var form_data = form.val("search-form");
				$.get("{:url('buy/ajax_get_list')}",form_data, function (res) {
					if (res.code == 200){
						res.data.data.unshift({
							id: 'ID',
							number: '采购单编号',
							status: '状态',
							create_time:'创建时间',
							type:'类型',
						});
						LAY_EXCEL.exportExcel(res.data.data, '采购单.xlsx', 'xlsx')
					}
				})
			});


			$('.search_btn1').on('click',function () {
				layer.open({
					type : 1,
					content:$('.buy_type'),
					title:'请选择采购单类型：',
					offset: '200px',
					btn:['确认', '取消'],
					btnAlign: 'c',
					anim: 5,
					yes:function(index,layero){
						var type_val = $('.buy_type_val:checked').val();
						var form_data = {
							'from' : type_val,
						};
						$.post("{:url('buy/add_buy')}", form_data,function (ret) {
							if (ret.code == 200){
								//执行重载
								table.reload('table', {
									page: {
										curr: 1 //重新从第 1 页开始
									}
								});
							}else{
								layer.msg(ret.msg,function(){

								});
							}
							layer.close(index);
						})
					},btn2:function(index,layero){
						layer.close(index);
					}
				});
			})
		})
	</script>
{include file="public/footer" /}