{include file="public/header"}


<div class="wrap-container clearfix">
    <div class="column-content-detail">
        <blockquote class="layui-elem-quote">
            <div class="layui-row">
            <div class="col-md-9" style="line-height: 38px">
                <b>添加采购单 一 选择采购商品</b>
            </div>
            <div class="col-md-3" style="text-align: right">
            <button type="button" class="layui-btn layui-bg-blue" onclick="window.history.back(-1)" style=""><i class="layui-icon layui-icon-return" style="font-size: 13px"></i>返回</button>
            </div>
            </div>
        </blockquote>

        <div class="layui-row">
            <div class="col-md-9">
            </div>

            <div class="col-md-3" style="text-align: right">
            </div>
        </div>

        <div class="layui-row">
            <div class="col-md-7">
                <div class="ajax_page"></div>
            </div>
            <div class="col-md-5">
                <div class="ajax_page_total"></div>

            </div>

        </div>
    </div>
</div>

{include file="public/script"}
{include file="public/footer"}
<script>
    var ajaxPage;
    var ajaxPageTotal;

    layui.use(['form', 'jquery', 'element'], function() {
        var form = layui.form,
            $ = layui.jquery,
            element = layui.element;

        $(function(){
            ajaxPage(1);
            ajaxPageTotal(1);
        });

        // 点击分页触发的ajax
        ajaxPage = function(page){
            var url = "{:url('buy/sel_goods_list')}";

            layer.load(2);

            var form_data = {
                'page'   : page,
                'buy_id' : "{$data.buy_id}",
            };

            console.log(form_data);
            $.ajax({
                url:url,
                type:'GET',
                async:false,
                data:form_data,
                success:function (ret) {
                    layer.closeAll('loading');
                    $('.ajax_page').html(ret);
                    // 重新渲染 form
                    form.render();
                    bindDel();
                    bindEditNum()
                }
            });
        };

        // 绑定删除事件
        function bindDel(){
            // 删除一行
            $('.btn_del').on('click', function () {
                var form_data = {
                    'id' : $(this).data('id'),
                };
                $.post("{:url('buy/del_info')}",form_data,function (ret) {
                    if (ret.code == 200){
                        layer.msg(ret.msg);
                        ajaxPage(1);
                        ajaxPageTotal(1);
                    }else{
                        layer.msg(ret.msg,function () {

                        });
                    }
                })
            });
        }

        // 绑定双击修改事件
        function bindEditNum(){
            $('.alert_need').dblclick(function () {
                var obj = $(this);
                var old_num = $(this).html();
                var dom_input = "<input type=\"number\" lay-verify=\"required\" placeholder=\"请输入数量\" value="+ old_num +" class=\"layui-input input_need\">";
                if ($(this).data('box') != 1){
                    $(this).html(dom_input);
                    $(this).data('box', 1);
                    $('.input_need').focus().select();
                }
                $('.input_need').blur(function () {
                    var edit_url = "{:url('buy/edit_info')}";
                    var num = $(this).val();
                    if (!num){
                        num = 0;
                    }

                    var form_data = {
                        'id'   : obj.data('id'),
                        'num'  : num,
                    };
                    $.post(edit_url, form_data, function (ret) {
                        if (ret.code == 200){
                            layer.msg(ret.msg);
                            ajaxPage(1)
                            ajaxPageTotal(1)
                        }else{
                            layer.msg(ret.msg,function () {

                            });
                        }
                    });
                })
            })
        }

        // 点击分页触发的ajax
        ajaxPageTotal = function(page){
            var url = "{:url('buy/sel_goods_total')}";

            layer.load(2);

            var form_data = {
                'page'   : page,
                'buy_id' : "{$data.buy_id}",
            };

            console.log(form_data);
            $.ajax({
                url:url,
                type:'GET',
                async:false,
                data:form_data,
                success:function (ret) {
                    layer.closeAll('loading');
                    $('.ajax_page_total').html(ret);
                    // 重新渲染 form
                    form.render();
                }
            });
        };



    });
</script>

