<style>
    .layui-form-switch{
        margin-top: 0px;
    }
</style>
<div class="layui-form" id="table-list">
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="50">
            <col class="hidden-xs" width="80">
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th colspan="8" style="text-align: center"><h4><b>总计</b></h4></th>
        </tr>
        <tr>
            <th width="10%" class="hidden-xs">序号</th>
            <th width="25%">商品名称</th>
            <th width="10%">编号</th>
            <th width="35%">工程</th>
            <th width="10%">数量</th>
            <th width="10%">单位</th>
        </tr>
        </thead>
        <tbody class="table_body">
        {volist name="$data.list" id="v" key="k"}
        <tr>
            <td class="hidden-xs">{$k}</td>
            <td class="alert_goods" style="cursor: pointer" onselectstart="return false">{$v['list']['name']}</td>
            <td class="alert_number">{$v['list']['number']}</td>
            <td>梁村镇府业扩 500<br>岗坪镇红星村换大变压器维修 300</td>
            <td data-id="{$v['list']['id']}">{$v['num']}</td>
            <td class="alert_unit">{$v['list']['unit']}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-wrap">
    </div>
</div>
<script>
</script>
