<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>电网system</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
</head>

<body>
    <form class="layui-form column-content-detail" method="post"
        action="{:url('stock_order/create_get_order')}">
        <div class="layui-tab">
            <!-- <ul class="layui-tab-title">
							<li class="layui-this">文章内容</li>
							<li>SEO优化</li>
						</ul> -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
 
                    <table class="layui-table stock_order_table" lay-size="sm" data-url="{:url('stock_order/get_woker_goods')}">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>材料编号</th>
                                <th>材料名称</th>
                                <th>供应商</th>
                                <th>价格(元)</th>
                                <th>采购数量</th>
                                <th>已入库数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.number}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.supply_name}</td>
                                <td>{$vo.price / 100}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.num_ok}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    {eq name="buy.type" value="2"}
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 70px;">申请原因：</label>
                                <div class="layui-input-inline" style="width: 500px;">
                                        <div class="layui-form-mid layui-word-aux">{$buy.note}</div>                                
                                </div>
                            </div>
                        </div>
                    {/eq}

                </div>
            </div>
        </div>

    </form>
    <script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'tool', 'element', 'layedit'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery,
                laypage = layui.laypage,
                laydate = layui.laydate,
                layedit = layui.layedit,
                tool = layui.tool,
                element = layui.element,
                dialog = layui.dialog;

        });     
    </script>
</body>

</html>