{include file="public/header" /}
<div class="layui-layer-content clearfix">
    <div class="column-content-detail">
        <!--- 头部搜索框 --->
        <div class="layui-card">
            <div class="layui-form">

                <form class="layui-form" lay-filter="search-form">
                    <div class="layui-form-item">
                        <div class="layui-inline layui-form-pane">
                            <label class="layui-form-label">入库仓库</label>
                            <div class="layui-input-inline">
                                <select name="store_id" lay-search="">
                                    <option value="">请选择入库仓库</option>
                                    {volist name="data.store" id="v"}
                                    <option value="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="buy_id" value="{$Request.get.id}"/>

                </form>
            </div>

        </div>
        <!--- 头部搜索框 --->


        <div class="layui-form" id="table-list">
            <table id="table" lay-filter="table"></table>


        </div>
    </div>
</div>
{include file="public/script" /}


<script type="text/html" id="template_type">
    {{# if(d.need_type == '甲供'){ }}
    <span class="layui-badge layui-bg-black">{{d.need_type}}</span>
    {{# } }}
    {{# if(d.need_type == '自购'){ }}
    <span class="layui-badge layui-bg-blue">{{d.need_type}}</span>
    {{# } }}
</script>

<script type="text/html" id="template_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-bg-green layui-btn-sm" lay-event="stock_sure"><i class="layui-icon layui-icon-ok"></i>确认入库</button>
    </div>
</script>


<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-bg-gray" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
    </div>
</script>

<script>
    var table_reload;

    // // 自定义模块，这里只需要开放soulTable即可
    // layui.config({
    //     base: '/static/modules/',   // 第三方模块所在目录
    //     version: 'v1.5.10' // 插件版本号
    // }).extend({
    //     soulTable: 'soulTable/soulTable',
    //     tableChild: 'soulTable/tableChild',
    //     tableMerge: 'soulTable/tableMerge',
    //     tableFilter: 'soulTable/tableFilter',
    //     excel: 'soulTable/excel',
    // });

    layui.use(['form', 'element', 'laydate', 'table', 'jquery'], function() {
        var form = layui.form,
            $ = layui.jquery,
            laydate = layui.laydate,
            // soulTable = layui.soulTable,
            table = layui.table;

        //日期范围
        laydate.render({
            elem: '#time'
            ,range: '至'
            ,type:'datetime'

        });

        // 监听表单提交事件
        form.on('submit(search-form)',function (data) {
            table_reload();
            return false;
        });

        // 监听下拉框选择
        form.on('select(select1)', function(data){
            table_reload();
            return false;
        });

        //监听开关操作
        form.on('switch(check)', function(obj){

        });


        // 表格刷新方法 带form数据
        table_reload = function(){
            var where = form.val("search-form");
            //执行重载
            table.reload('table', {
                where: where
            });
        };

        var url = "{:url('buy/ajax_get_buyinfo_list')}";
        //第一个实例
        table.render({
            elem: '#table'
            ,id:'table'
            ,url: url//数据接口
            ,page: false //开启分页
            ,toolbar:'#template_toolbar'
            ,limit:100000
            // ,height:'full-100'
            ,loading:true
            ,where:form.val("search-form")
            ,text:{
                none:'暂无相关数据'
            }
            ,filter: {
                clearFilter: true,
                items:{}
            }
            ,cols: [[ //表头
                {type:'numbers', title: '序号', align:'center', fixed:'left', sort:true,width:90}
                ,{field: 'project_name', title: '工程名称', align:'center',sort:true}
                ,{field: 'type_name', title: '分类', align:'center',sort:true}
                ,{field: 'goods_name', title: '名称', align:'center',sort:true}
                ,{field: 'goods_number', title: '编号', align:'center',sort:true}
                ,{field: 'num', title: '采购数量', align:'center',sort:true, width:120}
                ,{field: 'num_ok', title: '已采购', align:'center',sort:true, width:120}
                ,{field: 'stock_num',title: '入库数量', align:'center',sort:true, width:120, edit:'text'}
                ,{field: 'unit_name', title: '单位', align:'center', width:100}
                ,{field: 'supply_name', title: '供应商', align:'center', width:150}
                ,{field: 'price', title: '价格', sort:true, align:'center', width:100}
                ,{field: 'need_type', title: '类型', align:'center',sort:true, templet:"#template_type", width:80}
            ]],parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            },response: {
                statusCode: 200 //规定成功的状态码，默认：0
            }
        });

        //监听单元格编辑
        table.on('edit(table)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            var form_data = obj.data;
            var oldvalue = $(this).prev().text();

            $.post("{:url('buy/ajax_check_num')}", form_data, function(ret){
                if (ret.code == 200){
                    layer.msg('['+ data.goods_name +'] <br>更改为：'+ value,{offset:'t'});
                }else{
                    var objTemp = {};
                    objTemp[field] = oldvalue;
                    obj.update(objTemp);
                    layer.msg(ret.msg,function () {

                    });
                    return false;
                }
            });
        });

        // 监听工具条
        table.on('toolbar(table)', function(obj) {
            switch (obj.event) {
                case 'stock_sure':
                    var form_data = {
                        'store_id'  : form.val("search-form")['store_id'],
                        'buy_id'    : "{$Request.get.id}",
                        'json_data' : layui.table.cache.table
                    };
                    layer.load(2);
                    $.post("{:url('buy/ajax_stock_in')}", form_data,function(ret){
                        layer.closeAll('loading');
                        if (ret.code == 200){
                            layer.msg(ret.msg);
                            table_reload();
                        }else{
                            layer.msg(ret.msg,function () {

                            });
                        }
                    });
                break;


            }
        });

        // 监听表格按钮
        table.on('tool(table)', function(obj) {
            switch(obj.event){
                case 'delete':

                break;
                case 'supply':

                break;
            }
        });
    })


</script>
{include file="public/footer" /}