<!DOCTYPE html>
<html class="iframe-h">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>电网system</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
	</head>
	<body>
		<div class="wrap-container clearfix">
				<div class="column-content-detail">
					<form class="layui-form" action=""  lay-filter="filter" id="filter">
						<div class="layui-form-item">
							<div class="layui-inline tool-btn">
							</div>
							<div class="layui-inline">
								<input type="text" name="search" id="search" placeholder="请输入项目/工程名/材料" autocomplete="off" class="layui-input" value={if condition="$_GET['supply_goods_id'] neq null"}"{$goods_name['name']}" disabled="disabled"{else/}"{$Think.get.search}"{/if} />
							</div>
							<div class="layui-inline" style="position:relative; z-index:66;" >
								<select name="project_id" required lay-verify="required" lay-filter="filter" lay-search=""  style="width:195px;z-index: 2" id="project_id" >
									<option value="" >请选择调拨工程</option>
									{volist name="project_all_list" id="vo"}
									<option value="{$vo['id']}" {if condition="$_GET['project_id'] eq $vo['id']"}selected{else/}{/if}>{$vo['name']}</option>
									{/volist}
								</select>
							</div>

							<div class="layui-inline">
								<input type="text" name="supply_goods_id" id="supply_goods_id" style="display: none"  lay-verType="tips" autocomplete="off" class="layui-input" value="{$_GET['supply_goods_id']}">

							</div>
							<div class="layui-inline">
								<input type="text" name="is_type"  id="is_type" style="display: none" lay-verType="tips" autocomplete="off" class="layui-input" value="{$_GET['is_type']}">
							</div>
							<div class="layui-inline">
								<button type="button" class="layui-btn layui-btn-sm layui-btn-normal addBtn2 btn_tips" data-title="查询调拨记录"  data-url="" style="display: none" data-w="1000px" data-h="748px"><i class="layui-icon">&#xe705;</i></button>
							</div>
							<button id="search_school" lay-filter="lat" class="layui-btn layui-btn-normal ztc" type="submit" lay-submit="search">搜索</button>

						</div>
					</form>

					<div class="layui-tab layui-tab-card table_list" >
						<ul class="layui-tab-title">
							<li  class="layui-this">结余调拨</li>
							<li>工程调拨</li>
							<li>甲供结余调拨</li>
						</ul>
						<div name="hidden_frame" class="layui-tab-content"  id="tablelist" style="height: 600px;">
							<!--结余调拨-->
							{if condition="$Think.cookie.check_shop eq ''"}
								<div class="layui-tab-item layui-show">
							{else/}
								<div class="layui-tab-item">
							{/if}
								<div class="layui-form" id="table-list">
									<table class="layui-table all1" lay-skin="line" lay-filter="school_table">
									</table>
								</div>
							</div>

							<!--工程调拨-->
							<div class="layui-tab-item">
								<div class="layui-form" id="table-list">
									<table class="layui-table all2" lay-filter="school_table1" lay-skin="line">
									</table>
								</div>
							</div>


							<!--甲供结余调拨-->
							<div class="layui-tab-item">
								<div class="layui-form" id="table-list">
									<table class="layui-table all3" lay-filter="school_table" lay-skin="line">

									</table>
								</div>
							</div>


							<!--调拨清单-->

							<!--{if condition="$Think.cookie.check_shop neq ''"}-->
								<!--<div class="layui-tab-item layui-show">-->
							<!--{else/}-->
								<!--<div class="layui-tab-item">-->
							<!--{/if}-->


						</div>
					</div>
				</div>
		</div>
		<script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/html" id="barDemo">
			<button type="button" class="layui-btn layui-btn-sm layui-btn-normal addBtn1 btn_tips" data-title="调拨材料"  lay-event="shopp" data-h="568px"><i class="layui-icon">&#xe698;</i></button>
			<!--{:url('allocation/allocation_goods')}?project_id='+d.id+'&contract_id='+d.contract_id+'&type_id=1&stock_id=&supply_goods_id=&woker_id='+d.woker_id+'&is_type=2&owner_id='+d.owner_id+'&is_project_id='+"{$_GET['project_id']}"+-->
		</script>
		<script type="text/html" id="barDemo1">
			<button type="button" class="layui-btn layui-btn-sm layui-btn-normal addBtn1 btn_tips" data-title="调拨材料" lay-event="shopp1" onclick="selectRole()" data-h="568px" ><i class="layui-icon">&#xe698;</i></button>
			<!--{:url('allocation/allocation_goods')}?project_id='+d.id+'&contract_id='+d.contract_id+'&type_id=1&stock_id=&supply_goods_id=&woker_id='+d.woker_id+'&is_type=1&is_project_id='+"{$_GET['project_id']}"+-->

		</script>
	   <script type="text/html" id="status_name">
         {{#  if(d.status === 1){ }}
					<span class="layui-badge layui-bg-gray" >待开工</span>
         {{# } else if(d.status === 2) { }}
					<span class="layui-badge layui-bg-blue">已开工</span>
         {{# } else if(d.status === 3) { }}
					<span class="layui-badge layui-bg-orange">待结算</span>
         {{# } else { }}
					<span class="layui-badge layui-badge">已结算</span>
         {{#  } }}
      </script>
		<script>
            layui.use(['form', 'jquery', 'element', 'dialog', 'layer', 'table'], function() {
				var form = layui.form,
					$ = layui.jquery,
					element = layui.element,
					layer = layui.layer,
					dialog = layui.dialog;
                    table = layui.table;

                $(document).ready(function(){
                    var selecta = $('#project_id option:selected').val();
                    if(selecta != ''){
                        $(".addBtn2").css('display','block');
                        $(".table_list").css('display','block');
                    }
                    table.render({
                        elem: '.all1'
                        , url: "{:url('allocation/banlance_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数', sort: true}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all2'
                        , url: "{:url('allocation/project_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:80,sort: true}
                            , {field: 'contract_number', width:120,title: '合同编号', sort: true}
                            , {field: 'owner_name',width:100, title: '业主'}
                            , {field: 'name', width:150,title: '项目名'}
                            , {field: 'status_name', title: '状态', width:150, templet: '#status_name'}
                            , {field: 'create_time', width:180,title: '创建时间'}
                            , {field: 'goods_list', width:210, title: '材料概况'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo1'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all3'
                        , url: "{:url('allocation/banlance_type_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });

                    return false;

                });
                form.on('select(filter)', function (data) {
                    var project_id = data.value;
                    var selecta = $('#project_id option:selected').val();
                    if(selecta != ''){
                        $(".addBtn2").css('display','block');
                        $(".table_list").css('display','block');
                    }

                    table.render({
                        elem: '.all1'
                        , url: "{:url('allocation/banlance_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数', sort: true}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all2'
                        , url: "{:url('allocation/project_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:80,sort: true}
                            , {field: 'contract_number', width:120,title: '合同编号', sort: true}
                            , {field: 'owner_name',width:100, title: '业主'}
                            , {field: 'name', width:150,title: '项目名'}
                            , {field: 'status_name', title: '状态', width:150, templet: '#status_name'}
                            , {field: 'create_time', width:180,title: '创建时间'}
                            , {field: 'goods_list', width:210, title: '材料概况'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo1'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all3'
                        , url: "{:url('allocation/banlance_type_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });

                    return false;
//                    get_need_data1(project_id);
                });

                table.on('tool(school_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象

                    if(layEvent === 'shopp'){ //编辑
                        //do something
						console.log($('#project_id option:selected').val());
						if($('#project_id option:selected').val() == ""){
                            layer.msg('请选择调拨工程');
                            return false;
						}
						parent.layer.open({ //在父窗口打开
							//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
							type: 2,
							title: "调拨",
							area: ['80%', '80%'],
							content: "{:url('allocation/allocation_goods')}?project_id="+data.id+"&contract_id="+data.contract_id+"&type_id=1&stock_id=&supply_goods_id=&search="+$("#search").val()+"&woker_id="+data.woker_id+"&is_type=2&owner_id="+data.owner_id+"&is_project_id="+$('#project_id option:selected').val(),
						});
                    }
                });

                table.on('tool(school_table1)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象

                    if(layEvent === 'shopp1'){ //编辑
                        //do something
                        if($('#project_id option:selected').val() == ""){
                            layer.msg('请选择调拨工程');
                            return false;
                        }
                        parent.layer.open({ //在父窗口打开
                            //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                            type: 2,
                            title: "调拨",
                            area: ['80%', '80%'],
                            content: "{:url('allocation/allocation_goods')}?project_id="+data.id+"&contract_id="+data.contract_id+"&type_id=1&stock_id=&supply_goods_id=&search="+$("#search").val()+"&woker_id="+data.woker_id+"&is_type=1&is_project_id="+$('#project_id option:selected').val(),
                        });
                    }
                });

                $(document).on('click','#search_school',function(){
                    if($('#project_id option:selected').val() != '') {
                        var url = "{:url('stock_order/stock_order_index')}?is_project_id="+$('#project_id option:selected').val();
                        $(".addBtn2").attr('data-url', url);
                        $(".addBtn2").css('display', 'block');
                    }
                    table.render({
                        elem: '.all1'
                        , url: "{:url('allocation/banlance_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数', sort: true}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all2'
                        , url: "{:url('allocation/project_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:80,sort: true}
                            , {field: 'contract_number', width:120,title: '合同编号', sort: true}
                            , {field: 'owner_name',width:100, title: '业主'}
                            , {field: 'name', width:150,title: '项目名'}
                            , {field: 'status_name', title: '状态', width:150, templet: '#status_name'}
                            , {field: 'create_time', width:180,title: '创建时间'}
                            , {field: 'goods_list', width:210, title: '材料概况'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo1'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });
                    table.render({
                        elem: '.all3'
                        , url: "{:url('allocation/banlance_type_list')}?search="+$("#search").val()+"&project_id="+$('#project_id option:selected').val()+"&is_type="
                        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            , limit: 10 //一页显示多少条
                            , limits: [10]//每页条数的选择项
                            , groups: 4 //只显示 2 个连续页码
                            , first: "首页" //不显示首页
                            , last: "尾页" //不显示尾页

                        }
                        , cols: [[
                            , {field: '', title: '', width:0}
                            , {field: 'id', title: 'ID', width:150,sort: true}
                            , {field: 'stock_name', width:150,title: '仓库名', sort: true}
                            , {field: 'project_name',width:150, title: '项目名'}
                            , {field: 'supply_goods_name', width:150,title: '材料'}
                            , {field: 'have', width:150,title: '可调拨数'}
                            , {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                        ]]
                    });

                    return false;
                });


			});

		</script>
	</body>

</html>