<script src="__STATIC__/admin/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/admin/layui/xm-select.js" type="text/javascript" charset="utf-8"></script>
<script>
    // 自定义模块，这里只需要开放soulTable即可
    layui.config({
        base: '/static/admin/layui/',   // 第三方模块所在目录
        //     base: '/static/modules/',   // 第三方模块所在目录
        //     version: 'v1.5.10' // 插件版本号
    }).extend({
        treeSelect: 'treeSelect',

        //     soulTable: 'soulTable/soulTable.slim',
    });
    var $ = layui.jquery,
    laydate = layui.laydate;

    // 工程项目搜索框
    if ($('#project_select').length > 0){
        var project_select = xmSelect.render({
            el: '#project_select',
            name: 'project_id',
            tips: '请输入工程名称',
            radio: true,
            autoRow: true,
            filterable: true,
            clickClose: true,
            remoteSearch: true,
            size: 'medium',
            style:{
                'margin':'0px'
            },
            toolbar: {
                show: true,
                list: [{
                    name: '全部',
                    icon: 'layui-icon layui-icon-list',
                    method(data){
                        project_select.setValue([]);
                        project_select.closed();
                        setTimeout(function () {
                            table_reload();
                        }, 0)
                    }
                }]
            },
            model: {
                label: {
                    type: 'text',
                    block: {
                        //最大显示数量, 0:不限制
                        showCount: 0,
                        //是否显示删除图标
                        showIcon: false,
                    }
                },
            },
            prop: {
                name: 'name',
                value: 'id',
            },
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                // if(!val){
                //     return cb([]);
                // }
                //这里引入了一个第三方插件axios, 相当于$.ajax
                var form_data = {
                    search : val,
                    limit  : 15,
                };
                $.get("{:url('project/ajax_get_list')}", form_data,function(ret){
                    if (ret.code == 200){
                        cb(ret.data.data)
                    }else{
                        cb([])
                    }
                });
            },
            on: function(data){
                if (data.isAdd && data.change.length > 0){
                    setTimeout(function () {
                        table_reload();
                    }, 0)
                }
                if (!data.isAdd){
                    setTimeout(function () {
                        table_reload();
                    }, 0)
                }
            },
        });
    }

    // 材料分类搜索框
    if ($('#cate_select').length > 0) {
        var cate_select = xmSelect.render({
            el: '#cate_select',
            name: 'cate_id',
            searchTips: '请输入分类名称',
            toolbar: {
                show: true,
                list: [{
                    name: '全部',
                    icon: 'layui-icon layui-icon-list',
                    method(data) {
                        cate_select.setValue([]);
                        cate_select.closed();
                        setTimeout(function () {
                            table_reload();
                        }, 0)
                    }
                }]
            },
            height: '500px',
            model: {label: {type: 'text'}},
            prop: {
                name: 'name',
                value: 'id',
            },
            style: {
                'margin': '0px'
            },
            filterable: true,
            // clickClose: true,
            tree: {
                //是否显示树状结构
                show: true,
                //是否展示三角图标
                showFolderIcon: true,
                //是否显示虚线
                showLine: true,
                //间距
                indent: 20,
                //默认展开节点的数组, 为 true 时, 展开所有节点
                expandedKeys: [32],
                //是否严格遵守父子模式
                strict: true,
                //是否开启极简模式
                simple: false,
            },
            on: function(data){
                setTimeout(function () {
                    table_reload();
                }, 0)
            },
        });
        $.get("{:url('cate/ajax_get_list')}",{},function (ret) {
            cate_select.update(ret)
        });
    }


    // 材料分类搜索框(单选)用于添加商品之类使用
    if ($('#cate_select_radio').length > 0) {
        var cate_select_radio = xmSelect.render({
            el: '#cate_select_radio',
            name: 'cate_id',
            searchTips: '请输入分类名称',
            radio:true,
            clickClose: true,
            toolbar: {
                show: true,
                list: [{
                    name: '全部',
                    icon: 'layui-icon layui-icon-list',
                    method(data) {
                        cate_select_radio.setValue([]);
                        cate_select_radio.closed();
                        setTimeout(function () {
                            table_reload();
                        }, 0)
                    }
                }]
            },
            height: '200px',
            model: {label: {type: 'text'}},
            prop: {
                name: 'name',
                value: 'id',
            },
            style: {
                'margin': '0px'
            },
            autoRow:true,
            filterable: true,
            tree: {
                //是否显示树状结构
                show: true,
                //是否展示三角图标
                showFolderIcon: true,
                //是否显示虚线
                showLine: true,
                //间距
                indent: 20,
                //默认展开节点的数组, 为 true 时, 展开所有节点
                expandedKeys:[32],
                //是否严格遵守父子模式
                strict: true,
                //是否开启极简模式
                simple: false,
            },
            on: function(data){
                setTimeout(function () {
                    table_reload();
                }, 0)
            },
        });
        $.get("{:url('cate/ajax_get_list')}",{type:'radio'},function (ret) {
            cate_select_radio.update({data:ret.data, autoRow:true});
        });
    }



    // 供应商合同搜索框
    if ($('#contract_supply_select').length > 0){
        var contract_supply_select = xmSelect.render({
            el: '#contract_supply_select',
            name: 'contract_supply_id',
            searchTips: '请输入合同编号或供应商名称',
            radio: true,
            autoRow: true,
            filterable: true,
            clickClose: true,
            remoteSearch: true,
            size: 'medium',
            height: '500px',
            toolbar: {
                show: true,
                list: [{
                    name: '点击获取最新合同',
                    icon: 'layui-icon layui-icon-list',
                    method(data) {
                        layer.load(2);
                        var form_data = {
                            search : '',
                            limit  : 15,
                        };
                        $.get("{:url('supply/ajax_get_contract_list')}", form_data,function(ret){
                            layer.closeAll('loading');
                            contract_supply_select.update(ret.data);
                        });
                    }
                }]
            },
            template({ item, sels, name, value }){
                return name  + '<span style="position: absolute; right: 10px; color: #8799a3">'+item.status_dom+'</span>'
            },
            style:{
                'margin':'0px'
            },
            model: {
                label: {
                    type: 'text',
                    block: {
                        //最大显示数量, 0:不限制
                        showCount: 0,
                        //是否显示删除图标
                        showIcon: false,
                    }
                },
            },
            prop: {
                name: 'search_show',
                value: 'id',
            },
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                // if(!val){
                //     return cb([]);
                // }
                //这里引入了一个第三方插件axios, 相当于$.ajax
                var form_data = {
                    search : val,
                    limit  : 15,
                };
                $.get("{:url('supply/ajax_get_contract_list')}", form_data,function(ret){
                    if (ret.code == 200){
                        cb(ret.data.data)
                    }else{
                        cb([])
                    }
                });
            },
            on:function(data){
                if (data.isAdd && data.change.length > 0){
                    setTimeout(function () {
                        table_reload();
                    }, 0)
                }
            },
        });

    }

    //日期范围
    laydate.render({
        elem: '#time'
        ,range: '至'
        ,type:'datetime'

    });






</script>
