<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <span>RANK</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="{:url('center/index')}">
                        <i class="menu-icon icon-home4"></i><span>主页中心</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('buy/index')}">
                        <i class="menu-icon fa fa-money"></i><span>购买统计</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('shoes/index')}">
                        <i class="menu-icon fa fa-send"></i><span>单品查询</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('taobao/index')}">
                        <i class="menu-icon fa fa-shopping-cart"></i><span>淘宝改价</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('shoes/diff')}">
                        <i class="menu-icon fa fa-align-left"></i><span>差价统计</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('user/vip')}">
                        <i class="menu-icon fa fa-grav"></i><span>功能购买</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/intro')}">
                        <i class="menu-icon fa fa-road"></i><span>功能介绍</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="bug">
                        <i class="menu-icon fa fa-bug"></i><span>抽签软件</span>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="{:url('user/setting')}">-->
                        <!--<i class="menu-icon fa fa-gear fa-spin"></i><span>账号设置</span>-->
                    <!--</a>-->
                <!--</li>-->

                <li class="menu-divider"></li>
                <!--<li>-->
                    <!--<a><i class="menu-icon fa fa-wechat"></i><span>加微信，拉微信群~</span></a>-->
                    <!--<a>-->
                        <!--<img src="https://6hack.danluogy.com/wechat.jpg?v=<?php echo time(); ?>" width="100%">-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>